// vars for text:

$main-text-color: #000000;
$secondary-text-color: #828282;
$white-text-color: #ffffff;
$accent-text-color: #80233a;

// vars for bacground-color:

$main-bg-color: #ffffff;
$secondary-bg-color: #72408a;
$accent-bg-color: linear-gradient(180deg, #efcfda 0%, #ecb0c5 68.73%);

// vars for buttons:

$accent-bg-btn: #80233a;
